body {
  background: #000;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-family: PF Square Sans Pro, Arial, Verdana, sans-serif;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #9fafb8; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

p {
  padding: 0;
  margin: 0; }

b {
  padding: 0;
  margin: 0; }

.breadcrumbs {
  position: absolute;
  top: 133px;
  left: 80px;
  color: white; }

.logo {
  padding: 9px 0 0 0; }

.logo a {
  display: block; }

.top-bar {
  flex-wrap: nowrap;
  width: 1280px;
  margin: auto;
  height: 45px;
  justify-content: space-between;
  display: flex; }

.second-bar-container {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  height: 60px; }

.second-bar {
  background: #151617;
  border-top: #323537 1px solid;
  border-bottom: #74b42c 3px solid; }

.search-bar {
  margin-right: 107px;
  position: relative;
  margin-top: 5px; }

.search-bar__field {
  width: 220px;
  height: 25px;
  outline: none;
  text-indent: 5px;
  font-style: italic;
  font-size: 12px; }

.search-bar__button {
  background-color: #47ff28;
  width: 46px;
  height: 31px;
  position: relative;
  top: 8px;
  right: 5px;
  outline: none;
  border: 0;
  cursor: pointer; }

.search-bar__icon {
  width: 46px;
  height: 31px;
  position: absolute;
  background: url("../img/search.png") no-repeat;
  top: 7px;
  left: 16px; }

.user-panel {
  display: flex; }

.user-panel__tel-number {
  color: #9fafb8;
  padding-top: 14px;
  font-size: 13px; }

.user-panel__list {
  display: flex; }

.user-panel__list {
  padding: 0px 91px 0px 30px; }

.user-panel__link {
  padding: 14px 15px;
  display: block;
  font-size: 13px; }
  .user-panel__link:hover {
    color: #ffffff; }

.menu__list {
  display: flex;
  margin-left: -32px; }

.menu__link {
  padding: 19px 32px;
  color: #ffffff;
  font-size: 18px;
  display: block;
  letter-spacing: 0.2px; }
  .menu__link:hover span {
    border-bottom: 2px solid deeppink; }

.user-panel__basket-icon {
  margin-left: 2px;
  background: url("../img/basket.png") no-repeat 9px 10px;
  display: inline-block;
  width: 40px;
  height: 28px;
  position: relative;
  top: -8px;
  color: #ffffff;
  text-align: center;
  font-size: 12px; }

.user-panel__basket {
  position: relative;
  margin-left: 15px; }

.user-panel__icon {
  background: url("../img/circ.png") no-repeat 0px 0px;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: absolute;
  right: 28px;
  top: 7px; }

.main-banner__img {
  background: url("../img/banner.jpg") center center no-repeat;
  height: 99px; }

.breadcrumbs__link {
  color: #ffffff; }

.main {
  background: #fbfbfb; }

.main-container {
  width: 1280px;
  margin: auto;
  display: flex; }

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  width: 69%;
  padding: 0 0 100px 22px; }

.products {
  display: flex;
  flex-wrap: wrap;
  margin-right: -35px; }

.products-item {
  position: relative;
  margin-bottom: 12px; }

.accordion__filters-selection {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  background: #efefef;
  padding: 12px; }

.accordion__right {
  margin: 0px 3px;
  font-size: 15px; }

.accordion__stock {
  display: flex;
  background: #efefef;
  padding: 12px;
  margin-bottom: 8px;
  justify-content: space-between; }

.sort__by {
  color: #626f77; }
  .sort__by:hover {
    text-decoration: underline;
    cursor: pointer; }

.accordion__icon, .accordion__icon-down {
  display: inline-block;
  width: 14px;
  height: 16px;
  cursor: pointer; }

.accordion__icon {
  background: url("../img/ar.png") no-repeat 0px 2px; }

.accordion__icon-down {
  background: url("../img/ar_down.png") no-repeat 0px 7px; }

.filters-selection {
  display: flex; }

.filters-selection__list {
  display: flex; }

.accordion__left {
  display: flex; }

.stock__item {
  margin-left: 5px; }

.filters-selection__item {
  margin-left: 15px; }

.filter__delete {
  background: url("../img/cross.png") no-repeat;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 0 -1px 6px;
  cursor: pointer; }

.product-item {
  position: relative;
  margin: 0px 36px 12px 0px; }

.product__img {
  width: 270px; }

.product-item__info {
  background: #efefef;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  color: #000000; }

.product-info__top {
  padding: 11px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between; }

.product-item__new-cost {
  font-size: 23px; }

.product-item__old-cost {
  text-decoration: line-through; }

.product-info__bottom {
  font-weight: bold;
  padding: 0px 11px 8px 11px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between; }

.product-status {
  color: #ffffff;
  position: absolute;
  top: 150px;
  width: 100%;
  margin: 15px 0;
  opacity: 0.8;
  text-align: center; }

.product__sales {
  background: deeppink; }

.product__reserved {
  background: #74b42c; }

.sidebar {
  flex-basis: 271px; }

.sidebar__section {
  margin: 18px 0 0 0; }

.sidebar-section__title {
  background: #efefef;
  padding: 11px 15px;
  margin-bottom: 10px; }

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.filters__item {
  position: relative;
  cursor: pointer; }

.filters__checkbox {
  visibility: hidden;
  position: absolute; }
  .filters__checkbox:checked + .filters__name {
    background: #69be28;
    color: #fff; }

.filters__name {
  margin: 5px 5px;
  padding: 4px 8px 3px 8px;
  border: 1px solid #cccccc;
  border-radius: 13px; }

.footer {
  display: flex;
  margin-top: 42px;
  font-size: 14px;
  margin-bottom: 100px; }

.footer-left {
  margin: 0px 70px 0px 144px; }

.footer__centre-left {
  margin: 0px 60px 0px 77px; }

.footer__centre_right {
  margin: 0px 68px 0px 28px; }

.footer__right {
  margin: 0px 0px 0px 0px; }

.about-mk__first-item, .help__first-item, .social__first-item {
  margin-bottom: 21px;
  font-size: 18px; }

.about-mk__link, .help__link, .about-mk__link {
  padding: 6px 8px;
  display: block; }
  .about-mk__link:hover, .help__link:hover, .about-mk__link:hover {
    color: #ffffff; }

.about-mk__item, .help__item {
  margin-left: -8px; }

.copyright__text {
  color: #9fafb8; }

.logo__footer {
  margin-top: -17px;
  margin-bottom: 22px; }

.apps-link {
  margin-top: 80px;
  margin-left: -12px; }

.icon__app {
  margin: 20px 0 0 -5px; }

.icon__visa {
  margin-top: 45px; }

.mcard__link {
  margin: 5px 0 0 32px;
  display: inline-block; }

.social__item {
  width: 19px;
  height: 19px;
  margin: 0 7px 15px 0;
  background: url("../img/social.png") no-repeat; }

.social-item__icon {
  margin-left: 28px; }
  .social-item__icon:hover {
    text-decoration: underline; }

.social-link__fb {
  background-position: 0 0; }

.social-link__vk {
  background-position: 0 -30px; }

.social-link__tw {
  background-position: 0 -60px; }

.social-link__gg {
  background-position: 0 -90px; }

/*# sourceMappingURL=style.css.map */
