.apps-link {
  margin-top: 80px;
  margin-left: -12px;
}

.apps-link__app-icon {
  margin: 20px 0 0 -5px;
}

.apps-link__visa-icon {
  margin-top: 45px;
}

.apps-link__mcard-link {
  margin: 5px 0 0 32px;
  display: inline-block;
}