.filters-selection {
  display: flex;
}

.filters-selection__list {
  display: flex;
}

.filters-selection__item {
  margin-left: 15px;
}

.filters-selection__delete {
  background: url("../img/cross.png") no-repeat;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 0 -1px 6px;
  cursor: pointer;
}