.social__item {
  margin: 0px 8px 5px 15px;
}

.social__item-link {
  margin-left: 11px;
  &:hover {
    text-decoration: underline;
  }
}

.social__icon-fb, .social__icon-vk, .social__icon-tw, .social__icon-gg {
  width: 19px;
  height: 19px;
  background: url("../../img/social.png") no-repeat;
  display: inline-block;
  position: relative;
  bottom: -4px;
}

.social__icon-fb {
  background-position: 0 0;
}

.social__icon-vk {
  background-position: 0 -30px;
}

.social__icon-tw {
  background-position: 0 -60px;
}

.social__icon-gg {
  background-position: 0 -90px;
}

.social__title {
  margin-left: 14px;
}